* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(1, 18, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0 0 1px rgb(30, 99, 73);
}

.card h1 {
  font-size: 2rem;
  font-family: "Vujahday Script";
  color:#e46f01;
  margin: 1.5rem 0 1.5rem;
  text-align: center;
}

p {
  font-size: 0.8rem;
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: rgba(2, 41, 47, 0.5);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    -45deg,
    #0c6333 25%, 
    #d61333 25%,
    #d61333 50%,
    #0c6333 50%, 
    #0c6333 75%,
    #d61333 75%,
    #d61333 100%
  );
  background-size: 85px 85px;
}
.snow {
  position: absolute;
  top: -10px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  filter: blur(1px);
  animation: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snowfall {
  from {
    top: -10px;
  }
  to {
    top: 90%;
    opacity: 0;
  }
}